body {
    margin: 0;
    padding: 0;
    background-color: orange;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hantu {
    width: 140px;
    height: 160px;
    background-color: white;
    border-radius: 70px 70px 0 0;
    position: relative;
    cursor: pointer;
}

